* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* # font-family: 'Poppins';font-size: 22px; */
}

html,
body {
  height: 100%;
  margin: 0;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
}

/* Basic styling */
body {
  font-family: "Poppins";
  font-size: 22px;
  /* background-color: #f4f4f4; */
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #fffbfe;
  display: flex;
  flex-direction: column;
}

/* Header styles */
header {
  /* background-color: #ffe0e0; */
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2.5rem;
}

.logo {
  /* display: inline;
  text-align: left; */
}

/* Navigation styles */
nav {
  /* background-color: #ffc5c5; */
  padding: 10px 0;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

nav ul {
  list-style: none;
  text-align: right;
  /* font-weight: 600; */
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  /* font-weight: bold; */
}

/* Main content styles */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px 0;
  background-color: transparent;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
}

.intro img {
  max-width: 350px; /* Adjust the maximum width as needed */
  max-height: 350px; /* Adjust the maximum height as needed */
}

/* Contact styles */

.contact-list-icons {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  justify-content: right; /* Center the icons horizontally */
  width: 100%;
}

.contact-list-icons li {
  margin-right: 10px; /* Add some spacing between icons */
}

.contact-list-icons a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.contact-list-icons a:hover {
  background-color: #ddd;
}

.contact-list-icons i {
  margin-right: 5px;
  font-size: 1.5rem;
}

.contact {
  max-width: 1280px;
  text-align: left;
  margin: auto;
}

.contact-info {
  display: inline-flex;
  width: 100%;
}

.contact-email {
  display: inline;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 40px;
  background-color: #f9f2f7;
  color: #000000;
  height: 169px;
}

.footerh2 {
  color: #5b0042;
}
/* Add styles for the new layout */
.intro {
  display: flex;
  align-items: center;
  gap: 100px;
}

.profile {
  max-width: 250px;
  max-height: 250px;
}

.intro-content {
  flex-grow: 1;
}

.portfolio {
  display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: repeat(2, auto); */
}

.portfolio img {
  width: 100%;
  height: 308px;
}

.connect-button {
  text-align: center;
  display: block;
  width: 370px;
  height: 54px;
  margin: auto;
  background-color: #5b0042;
  color: #fff;
  border: 0;
  font-family: "Poppins";
  border-radius: 15px;
}

/* .profile-picture {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 200px;
} */

/* .image-cropper {
  /* width: 100%; */
/* height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
} */

.profile-picture {
  object-fit: cover;
  /* object-position: 20px; */
  border-radius: 200px;
  width: 200px;
  height: 200px;
  overflow-clip-margin: unset;
}

.intro2 {
  padding: 0 0 400px 0;
}

.about {
  padding: 100px 0 0 0;
}

.case {
  display: flex;
  padding: 68px 0 0 0;
}

a .case-text {
  width: 390px;
  flex-direction: column;
  margin: auto;
  padding: 0 0 0 32px;
}

.case-type {
  font-size: 12px;
}

.case-headline {
  font-size: 34px;
}

.case-description {
  font-size: 16px;
}

.intro-text {
  text-align: center;
  font-size: 34px;
  padding: 0 0 48px;
  width: 666px;
  margin: auto;
}

.svg-logo {
  width: 128px;
  height: 30px;
  justify-content: center;
  display: flex;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.connect-text {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #000;
}